[Unit]
Description=electroLAB Birdhouse Server
After=multi-user.target

[Service]
ExecStart=/home/pi/NaturewatchCameraServer/.venv/bin/python -m naturewatch_camera_server -p 80
WorkingDirectory=/home/pi/NaturewatchCameraServer
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target
